@model StudentService.Models.StudentViewModel

@{
    ViewBag.Title = "Student" + Model.Student.Firstname + " " + Model.Student.Lastname;
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Model.Student.Firstname
                    @Model.Student.Lastname
                </h1>                
            </hgroup>            
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Programs Registered @Html.ActionLink("(Add New)", "AddNewProgramToStudent")</h3>
        <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Title</th>
                    <th>Start</th>
                     <th>End</th>
                     <th>Status</th>
                     <th>CGPA</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var program in Model.Programs)
                {
                <tr>
                    <td>@program.ProgramCode</td>
                    <td>@program.StartDate.ToShortDateString()</td>
                    <td>@program.EndDate.ToShortDateString()</td>
                    <td>@program.Status</td>
                    <td>@program.CGPA</td>
                    <td>@Html.RouteLink("Show Courses", "EducationalInstituteStudentProgram", 
                        new RouteValueDictionary(new { 
                            universityCode = ViewContext.RouteData.Values["universityCode"], 
                            studentId = ViewContext.RouteData.Values["studentId"], 
                            programCode = program.ProgramCode }))</td>
                    
                </tr>
                }      
            </tbody>  
        </table>
        
        
        <h3>Courses Taken @Html.ActionLink("(Add New)", "AddNewCourseToStudent")</h3>
        <table>
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Status</th>
                     <th>Score</th>
                     <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.Courses)
                {
                <tr>
                    <td>@course.CourseCode</td>
                    <td>@course.StartDate.ToShortDateString()</td>
                    <td>@course.EndDate.ToShortDateString()</td>
                    <td>@course.Status</td>
                    <td>@course.Score</td>
                    <td>@course.Grade</td>
                </tr>
                }      
            </tbody>  
        </table>

        

        <h3>Other Educational Institutes @Html.ActionLink("(Add New)", "NewLink",
        new RouteValueDictionary(new { 
                            universityCode = ViewContext.RouteData.Values["universityCode"], 
                            studentId = ViewContext.RouteData.Values["studentId"]}))</h3>
        <table>
            <thead>
                <tr>
                    <th>Institute</th>
                    <th>Student ID</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var link in Model.Links)
                {
                <tr>
                    <td>@link.EICode</td>
                    <td>@link.StudentId</td>
                    <td>@link.Status</td>
                    <td>@(link.Status == StudentService.Models.Entity.LinkApprovalStatusEnum.Accepted ?
                            Html.RouteLink("Fetch courses", "FetchCourses", new RouteValueDictionary(new {
                                universityCode = ViewContext.RouteData.Values["universityCode"],
                                studentId = ViewContext.RouteData.Values["studentId"],
                                otherUniversityCode = link.EICode,
                                otherStudentId = link.StudentId
                            })) : new MvcHtmlString("Cancel"))</td>
                </tr>
                }      
            </tbody>  
        </table>
    </section>
</div>

